<!-- Side Navbar -->
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0; max-width: 500px; height: auto;">
            <img src="/img/logo2.png" alt="..." class="img-thumbnail img-responsive profile_img" id="dashboard-logo">
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div style="margin-top: 30px;" class="profile">
            <div class="profile_pic">
                <img src="/img/img_avatar3.png" alt="..." class="img-thumbnail profile_img">
            </div>
            <div style="margin-bottom: 30px;" class="profile_info">
                <span>Welcome,</span>
                <h2>All-Powerful Admin!</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <hr/>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> Home </a>
                    </li>
                    <li><a><i class="fa fa-hand-o-right"></i> Comments <span
                                    class="fa fa-chevron-down"></span></a>
                        <ul style="display: none" class="nav child_menu">
                            <li><a href="/admin/dashboard/reviewComments">Review Reported</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>Support</h3>
                <hr/>
                <ul class="nav side-menu">
                    <li><a href="/admin/dashboard/contactSupport"><i class="fa fa-phone"></i> Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" style="width: 100%;">
                <span class="" aria-hidden="false"> Control Panel </span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>