{% extends 'master.twig' %}

{% block content %}

    <div class="w3-container" style="margin-top: 80px;">
        <div class="w3-row-padding">


            <div class="w3-container w3-theme-d1 w3-center">
                <h2>What's this all about??</h2>
            </div>
            <div class="w3-container w3-theme-l4 w3-xlarge">

                <p> Deree students have always been wondering about who the best professor for a
                    specific course is ("Patsioti for Ethics?"), who is knowledgeable, who is lenient,
                    etc.</p>

                <p>This site was created, <u>for the students by the students</u>, to address exactly this
                    need.</p>

                <p> Members are able to evaluate ("Judge")
                    professors and make comments about them.<br> Both members and non-members are able to see statistics
                    about the professors, as well as background information, and
                    comments made by other students.</p>
                <p>Of course, <b>everyone remains anonymous.</b> </p>
                <p></p>

                <p>Enjoy!</p>
                </p>

                <hr>
                <div class="w3-panel w3-theme-l2 w3-leftbar w3-border-blue-grey w3-padding-4">
                <p>&nbsp;&nbsp;Disclaimer: Disrespectful behaviour, such as obscure comments, <b>will result in a ban.</b>
                </p>
                    </div>
                <hr>
                <div class="w3-panel w3-theme-l2 w3-leftbar w3-border-blue-grey w3-padding-4">
                    <p>&nbsp;&nbsp;Kudos to<a href="https://www.facebook.com/podilatisdimitris.kakouris" target="_blank" class="w3-hover-amber"> Dimitris
                        Kakouris </a> for the logo and the animation.
                    </p>
                </div>
                <p> </p>

            </div>
        </div>
    </div>

{% endblock content %}