<!-- Footer -->
<div style="margin-top: 80px;">
    <footer class="w3-container w3-theme-d3 ">
        <p>We hope you enjoy.</p>
    </footer>

    <footer class="w3-container w3-theme-d5 w3-padding-16">
        <h5>DereeJudge © 2016 CopyLeft</h5>
    </footer>
</div>