<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    {#Include jquery#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <meta name="viewport" content="initial-scale=1.0"/>

</head>
<body>

<nav class="w3-sidenav w3-light-grey w3-card-2" style="display:none" id="mySidenav">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-large">Close &times;</a>
    <br>
    <a class="w3-hover-black" href="#">Link 1</a>
    <a class="w3-hover-yellow" href="#">Link 2</a>
    <a class="w3-hover-blue" href="#">Link 3</a>
    <a class="w3-hover-green" href="#">Link 4</a>
    <a class="w3-hover-red" href="#">Link 5</a>
</nav>

<header class="w3-container w3-teal">
    <span class="w3-opennav w3-xlarge" onclick="w3_open()">&#9776;</span>
    <h1 class="w3-center">Deree Judge</h1>
</header>

<div class="w3-container">
    <div class="w3-row-padding">

        <a href="#">
            <div class="w3-col s12 m4">
                <div class="w3-card-4 w3-margin w3-round">
                    <img src="/img/headshot3.jpg" style="width:100%">
                    <div class="w3-container w3-center">
                        <p>View Evaluations!</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="w3-col s12 m4">
                <div class="w3-card-4 w3-margin w3-round">
                    <img src="/img/headshot3.jpg" style="width:100%">
                    <div class="w3-container w3-center">
                        <p>Add a Professor!</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="w3-col s12 m4">
                <div class="w3-card-4 w3-margin w3-round">
                    <img src="/img/headshot3.jpg" style="width:100%">
                    <div class="w3-container w3-center">
                        <p>Judge a Professor!</p>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>

<footer class="w3-container w3-bottom w3-teal w3-center">
    <p>We hope you enjoy.</p>
    <h5>DereeJudge © 2016 CopyLeft</h5>
</footer>


<script>
    $(document).ready(function () {
        $(".w3-card-4").on("mouseover", function () {
            $(this).css({"background-color": "teal", "transition": "background-color 0.5s", " -webkit-transition": "background-color 0.5s"});
        });

        $(".w3-card-4").on("mouseout", function () {
            $(this).css({"background-color": "white", "transition": "background-color 0.5s", " -webkit-transition": "background-color 0.5s"});
        });
    });
    function w3_open() {
        document.getElementById("mySidenav").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidenav").style.display = "none";
    }
</script>

</body>
</html>